# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    50-server.cnf                                      :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: lshail <lshail@student.42.fr>              +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2024/05/02 14:19:24 by lshail            #+#    #+#              #
#    Updated: 2024/05/02 14:19:25 by lshail           ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

[mysqld_safe]

bind-address = 0.0.0.0

datadir = /var/lib/mysql

socket = /var/run/mysqld/mysqld.sock

port = 3306

user = mysql

[mysqld_safe]